body {
    background-color: hsl(39, 77%, 83%);
}

h1, h2 {
    font-family: 'Brush Script MT', cursive;
}

.recipes-list {
    background-color: hsl(39, 77%, 50%);
    list-style-type: none;
}

h3, ol, ul {
    
    font-family: 'Courier New', monospace;
}
h3 {
    font-variant: small-caps;
    font-weight: 700;
}